@model Sistema_Reservas_y_Citas.Models.Consultorio

@{
    ViewBag.Title = "Eliminar Consultorio";
}

<h2>Borrar Consultorio</h2>

<h3>Está seguro que desea eliminar este consultorio?</h3>
<div>
    <h4>Consultorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clinica)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al Inicio", "Index")
        </div>
    }
</div>
