@model Sistema_Reservas_y_Citas.Models.Consultorio

@{
    ViewBag.Title = "Detalle Consultrio";
}

<h2>Descripcion de Consultorios</h2>

<div>
    <h4>Consultorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clinica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clinica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver al Inicio", "Index")
</p>
